.container-fluid{
    padding: 0;
}
.navbar{
    padding-left: 4%;
    padding-right: 4%;
}
.main-container{
    margin-top: 30px;
}
a {
    white-space: nowrap;
    text-decoration: none;
}
.navbar .nav-link {
    color: #fff;
}
.nav-link.disabled {
    color: #6c757d;
}
.navbar-light .navbar-brand {
    color: #fff;
}
#map {
    height: 400px; /* Đặt chiều cao cho bản đồ */
    width: 100%;
}